
// Preview
// Windows Print Dialogue
@media print {
  @page {
    margin: 0;
  }
  .invoice-actions,
  .main-menu,
  .buy-now {
    visibility: hidden;
  }

  .printRef {
    max-width: 100% !important;
    flex: 0 0 100%;
  }
}
.modal-slide-in .modal-dialog.sidebar-lg{
  width: 50%;
}